---
import ThemeToggle from "./ThemeToggle.astro";

const localsData = Astro.locals;
const isOn = localsData.isOn;
---

<nav
    class="flex items-center place-content-center justify-between md:flex-row text-black dark:text-white px-6 py-2 md:p-8"
    data-testid="navbar"
>
    <div class="flex space-x-2 items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="#00e0b0"
            viewBox="0 0 256 256"
            ><path
                d="M72.5,150.63,100.79,128,72.5,105.37a12,12,0,1,1,15-18.74l40,32a12,12,0,0,1,0,18.74l-40,32a12,12,0,0,1-15-18.74ZM144,172h32a12,12,0,0,0,0-24H144a12,12,0,0,0,0,24ZM236,56V200a20,20,0,0,1-20,20H40a20,20,0,0,1-20-20V56A20,20,0,0,1,40,36H216A20,20,0,0,1,236,56Zm-24,4H44V196H212Z"
            ></path></svg
        >
        <a
            class="text-2xl md:text-3xl font-extrabold"
            data-testid="brand-name"
            href="/">Utsav Deep</a
        >
    </div>
    <div class="flex items-center space-x-2 md:space-x-8 p-4 md:p-0">
        { isOn('navbarLinks') ? (
        <div class="flex md:hidden items-center space-x-2 md:space-x-8">
            <div class="flex flex-col space-x-4 items-center">
                <button
                    name="hamburger-button"
                    type="button"
                    class="mobile-hamburger rotate-180 p-2 md:hidden"
                    onclick="menuHandler()"
                    data-testid="hamburger-menu"
                >
                    <div
                        id="first-line"
                        class="bg-black dark:bg-white h-[3px] w-10 my-2 transition-all ease-out delay-100"
                    >
                    </div>
                    <div
                        id="second-line"
                        class="bg-black dark:bg-white h-[3px] w-6 my-2 transition-all ease-out delay-100"
                    >
                    </div>
                    <div
                        id="third-line"
                        class="bg-black dark:bg-white h-[3px] w-10 my-2 transition-all ease-out delay-100"
                    >
                    </div>
                </button>
            </div>
        </div>
        <div
            class="hidden place-content-center md:flex w-full items-center md:w-auto text-black dark:text-white"
            data-testid="menu"
        >
            <ul
                class="text-center items-center md:flex md:justify-between text-xl md:text-2xl font-semibold space-y-4 md:space-y-0 md:space-x-10"
            >
                <li>
                    <a href="#projects" data-testid="lg-link-projects"
                        >Projects</a
                    >
                </li>
                <li>
                    <a href="#experience" data-testid="lg-link-experience"
                        >Experience</a
                    >
                </li>
                <li>
                    <a href="#contact" data-testid="lg-link-contact">Contact</a>
                </li>
            </ul>
        </div>) : ""
        }
        <ThemeToggle />
    </div>
</nav>
{ isOn('navbarLinks') ? (
<div
    class="hidden z-10 fixed bg-white/95 dark:bg-black/80 place-content-center w-full items-center md:w-auto text-black dark:text-white"
    id="menu"
    data-testid="menu"
>
    <ul
        class="text-center items-center md:flex md:justify-between text-xl md:text-2xl font-semibold space-y-4 md:space-y-0 md:space-x-10"
    >
        <li onclick="menuHandler()">
            <a href="#projects" data-testid="sm-link-projects">Projects</a>
        </li>
        <li onclick="menuHandler()">
            <a href="#experience" data-testid="sm-link-experience">Experience</a
            >
        </li>
        <li onclick="menuHandler()">
            <a href="#contact" data-testid="sm-link-contact">Contact</a>
        </li>
    </ul>
</div> ) : ""}

<style>
    .first {
        transform: translateY(11px) rotate(45deg);
        transition: all 0.5s ease;
    }

    .second {
        opacity: 0;
        transition: all 0.2s ease;
    }

    .third {
        transform: translateY(-11px) rotate(-45deg);
        transition: all 0.5s ease;
    }
</style>

<script is:inline>
    function menuHandler() {
        hamburgerHandler();
        const menu = document.getElementById("menu");
        menu.classList.toggle("hidden");
    }

    function hamburgerHandler() {
        var firstLine = document.getElementById("first-line");
        var secondLine = document.getElementById("second-line");
        var thirdLine = document.getElementById("third-line");

        firstLine.classList.toggle("first");
        secondLine.classList.toggle("second");
        thirdLine.classList.toggle("third");
    }
</script>
