---
import { Icon } from 'astro-icon/components';
---

<div class='flex flex-row w-full md:w-8/12 2xl:w-6/12 justify-between py-4' data-testid="intro-socials">
    <a
        href='mailto:utsavdeep01@gmail.com'
        title='email link'
        target="_blank"
        class="rounded-full bg-black dark:bg-white p-2 hover:scale-110 ease-linear duration-300"
        data-testid="social-email"
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            name='mdi:email'
            class="size-8 md:size-10 text-white dark:text-black"
        />
    </a>
    <a
        href='https://github.com/pinnheads'
        title='github link'
        target="_blank"
        class="rounded-full bg-black dark:bg-white p-2 hover:scale-110 ease-linear duration-300"
        data-testid="social-github"
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            name='mdi:github'
            class="size-8 md:size-10 text-white dark:text-black"
        />
    </a>
    <a
        href='https://www.linkedin.com/in/utsavdeep/'
        title='linkedin link'
        target="_blank"
        class='rounded-full bg-black dark:bg-white p-2 hover:scale-110 ease-linear duration-300'
        data-testid="social-linkedin"
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            name='mdi:linkedin'
            class="size-8 md:size-10 text-white dark:text-black"
        />
    </a>
    <a
        href='https://twitter.com/utsavdeep01'
        title='twitter link'
        target="_blank"
        class='rounded-full bg-black dark:bg-white p-2 hover:scale-110 ease-linear duration-300'
        data-testid="social-twitter"
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            name='mdi:twitter'
            class="size-8 md:size-10 text-white dark:text-black"
        />
    </a>
</div>
