---
import Icon from './Icon.astro';
---

<ul class='flex flex-row w-full md:w-8/12 2xl:w-6/12 justify-between py-4 text-black dark:text-white'>
    <a
        href='mailto:utsavdeep01@gmail.com'
        title='email-link'
        class='rounded-full text-white dark:text-black bg-white dark:bg-black'
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            icon='email'
            style='size-12 md:size-14 fill-black rounded-full hover:scale-125 ease-in-out duration-300 dark:fill-lg-gray'
        />
    </a>
    <a
        href='https://github.com/pinnheads'
        title='github-link'
        class='rounded-full text-white dark:text-black bg-white dark:bg-black'
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            icon='github'
            style='size-12 md:size-14 fill-black rounded-full hover:scale-125 ease-in-out duration-300 dark:fill-lg-gray'
        />
    </a>
    <a
        href='https://www.linkedin.com/in/utsavdeep/'
        title='linkedin-link'
        class='rounded-full text-white dark:text-black bg-white dark:bg-black'
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            icon='linkedin'
            style='size-12 md:size-14 fill-black rounded-full hover:scale-125 ease-in-out duration-300 dark:fill-lg-gray'
        />
    </a>
    <a
        href='https://twitter.com/utsavdeep01'
        title='twitter-link'
        class='rounded-full text-white dark:text-black bg-white dark:bg-black'
    >
        <!-- TODO: Figure out shadow animation for the links -->
        <Icon
            icon='twitter'
            style='size-12 md:size-14 fill-black rounded-full hover:scale-125 ease-in-out duration-300 dark:fill-lg-gray'
        />
    </a>
</ul>
