---
import Icon from "./Icon.astro";


---

<theme-toggle>
    <button class='bg-black dark:bg-white flex p-2 rounded-full'>
        <span class='sr-only'>Dark theme</span>
        <span id='light' class='icon light'>
            <Icon icon="sun" color="black"/>
        </span>
        <span id='dark' class='icon dark'>
            <Icon icon="moon" color="white"/>
        </span>
    </button>
</theme-toggle>

<script>
    class ThemeToggle extends HTMLElement {
        constructor() {
            super();

            const button = this.querySelector('button')!;
            const lightIcon = document.getElementById('light');
            const darkIcon = document.getElementById('dark');

            /** Set the theme to dark/light mode. */
            const setTheme = (dark: boolean) => {
                document.documentElement.classList[dark ? 'add' : 'remove']('dark');
                button.setAttribute('aria-pressed', String(dark));
                if (this.isDark()) {
                    darkIcon?.classList.add('hidden');
                    lightIcon?.classList.remove('hidden');
                } else {
                    lightIcon?.classList.add('hidden');
                    darkIcon?.classList.remove('hidden');
                }
            };

            // Toggle the theme when a user clicks the button.
            button.addEventListener('click', () => setTheme(!this.isDark()));

            // Initialize button state to reflect current theme.
            setTheme(this.isDark());
        }

        isDark() {
            return document.documentElement.classList.contains('dark');
        }
    }
    customElements.define('theme-toggle', ThemeToggle);
</script>
