---
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
// Supports weights 100-900
import '@fontsource-variable/inter';

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en' class='dark'>
    <head>
        <Head title={title} description={description} />
    </head>
    <body class='bg-white dark:bg-black'>
        <Navbar />
        <div>
            <slot />
        </div>
        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "332e5cbaefa04896ae12ae2e5c41dc38"}'></script><!-- End Cloudflare Web Analytics -->
        <script>
            // Add “loaded” class once the document has completely loaded.
            addEventListener('load', () => document.documentElement.classList.add('loaded'));
        </script>
        <style>
            body {
                font-family: 'Inter Variable', sans-serif;
            }
        </style>
    </body>
</html>
